.building-details-header-card {
  margin-top: 25px;
  margin-left: 15%;
  width: 80%;
  font-size: 30px;
  font-style: italic;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: #3F51B5;
}
.building-details-header-price-card {
  margin-top: -3%;
  margin-right: 11%;
  float: right;
  font-size: 30px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  color: green;
}

.buildings-property-description-seller-car {
  margin: 25px auto;
  width: 790px;
  border-radius: 5px;
  font-size: 15px;
}
.building-details-rating-card {
  margin-top: -55%;
  margin-left: 50%;
}
.building-details-address-card {
  margin-top: 5%;
  margin-left: 50%;
}
.building-details-interior-card{
  margin-left: 0%;
  margin-bottom: 10%;
}
.building-details-map-card {
  margin: 25px auto;
  width: 838px;
  height: 500px;
  border-radius: 5px;
}
.building-details-seller {
 font-size: 15px;
  margin-left: 50px;
}

#container {
  width: 100%;
  margin: 2em auto;
  padding: 0;
}
.slides-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  max-width: 100%;
}

.item {
  pointer-events: none;
  margin: 0;
  align-items: center;
}
