<mat-card class="buildings-card">
  <img mat-card-image class="buildings-image-container" src="https://my-server.azurewebsites.net/{{buildingByType.buildingProfilePicture}}">

  <div class="buildings-card-text">
    <div class="home-card-text">

     <div class="buildings-card-title"><span>{{buildingByType.title}}</span></div>

      <p><b>Type: </b><span>{{buildingByType.typeOfBuilding}}</span></p>
      <p><b>Rating: </b><span>{{buildingByType.rating}}%</span></p>
      <span><b>Location: </b>{{buildingByType.place}}, {{buildingByType.country}}</span>
    </div>
    <div class="buildings-card-price"><span>${{buildingByType.price}}</span></div>
    <button class="buildings-card-details-button" mat-button (click)="viewDetails()">Details ></button>
  </div>
</mat-card>

