.buildings-card {
  margin: 25px auto;
  width: 700px;
  height: 138px;
  border-radius: 5px;
}
.buildings-image-container {
  width: 280px;
  height: 186px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.buildings-card-text {
  margin-top: -26%;
  margin-left: 40%;
  width: 63%;
}
.buildings-card-details-button {
  margin-top: 23%;
  margin-left: 83%;
  color: #3F51B5;
  font-weight: normal;
  height: auto;
  min-width: 0;
  padding: 0;
  font-size: 16px;
}
.buildings-card-title {
  font-size: 16px;
  color: #3F51B5;
}
.buildings-card-price {
  margin-top: -27%;
  margin-left: 83%;
  width: 63%;
  color: green;
}

