<p class="unauthorized-header-text">You are not logged in</p>
<div class="unauthorized-image-wrapper">
  <img class="unauthorized-image" src="../../assets/accessories/logo.png">
  <p class="unauthorized-image-text">{{env.appName}}</p>
</div>
<p class="unauthorized-text">Please <span><button class="unauthorized-login-button" (click)="loginDialog()">Login</button></span> or
  <span><button class="unauthorized-register-button" (click)="register()">Register</button></span>
</p>
