.unauthorized-image-wrapper {
  text-align: center;
}

.unauthorized-image {
  width: 300px;
  height: 300px;
}

.unauthorized-image-text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.unauthorized-header-text{
  text-align: center;
  margin-top: 2%;
  font-size: 50px;
  font-weight: bold;
}
.unauthorized-text{
 text-align: center;
  margin-top: 2%;
  font-size: 30px;
  font-weight: bold;
}
.unauthorized-register-button {
  font-size: 30px;
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: bold;
  height: auto;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: green;
}
.unauthorized-login-button {
  font-size: 30px;
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: bold;
  height: auto;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: #3F51B5;
}

