<mat-toolbar class="toolbar-background">
  <mat-toolbar-row>
    <span class="app-toolbar-split-home-button"></span>
    <span style="color: white">
      <a mat-icon-button [routerLink]="['home']" routerLinkActive="active-link">
        <i class="material-icons">&#xE88A;</i>
      </a>
    </span>
    <span class="app-toolbar-split-buttons"></span>
    <a class="app-toolbar-menu-buttons" mat-button [routerLink]="['apartments']" routerLinkActive="active-link">
      Apartments</a>
    <span class="app-toolbar-split-buttons"></span>
      <a class="app-toolbar-menu-buttons" mat-button [routerLink]="['family-houses']" routerLinkActive="active-link">
      Family Houses</a>
    <span class="app-toolbar-split-buttons"></span>
    <a class="app-toolbar-menu-buttons" mat-button [routerLink]="['add-property']" routerLinkActive="active-link">
      Advertise Property</a>
    <span class="app-toolbar-split-login-register"></span>
    <a class="app-toolbar-menu-buttons" mat-button *ngIf="!auth.loggedIn()" [routerLink]="['register']"
       routerLinkActive="active-link">Register</a>
    <a class="app-toolbar-menu-buttons" mat-button *ngIf="auth.loggedIn()" [routerLink]="['my-profile']"
       routerLinkActive="active-link">My Profile</a>
    <span class="app-toolbar-split-buttons"></span>
    <a class="app-toolbar-menu-buttons" mat-button *ngIf="!auth.loggedIn()" (click)="loginDialog()"
       routerLinkActive="active-link">Login</a>
    <a class="app-toolbar-menu-buttons" mat-button *ngIf="auth.loggedIn()" (click)="logout()"
       routerLinkActive="active-link">Logout</a>
    <span class="app-toolbar-split-home-button"></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
