.app-toolbar-menu-buttons {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  color: white;
  font-size: 16px;
}

.app-toolbar-split-buttons {
  flex: 0.05 0.05 auto;
}
.app-toolbar-split-home-button {
  flex: 0.20 0.20 auto;
}
.app-toolbar-split-login-register {
  flex: 0.45 0.45 auto;
}
.toolbar-background {
  background-color: #323232;
}

.active-link {
  color: #929292;
}
