.home-card-image-container {
  width: 278px;
  height: 183px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.home-card-wrapper {
  margin-left: 20px;
  margin-bottom: 25px;
  width: 230px;
  height: 370px;
  border-radius: 5px;
  float: left;
}
.home-card-details-button {
  color: #3F51B5;
  font-weight: normal;
  height: auto;
  margin-top: 20px;
  min-width: 0;
  padding: 0;
  font-size: 16px;
}
.home-card-title {
  font-size: 16px;
  color: #3F51B5;
}
.home-card-title-wrapper{
  height: 35px;
  overflow: hidden;
}
.home-card-text {
  font-size: 14px;
}
