<mat-card class="home-card-wrapper">
  <img mat-card-image class="home-card-image-container" src="https://my-server.azurewebsites.net/{{building.buildingProfilePicture}}">
  <div class="home-card-text">
    <div class="home-card-title-wrapper"><span class="home-card-title">{{building.title}}</span></div>
    <p><span><b>Price: </b><span style="color: green">${{building.price}}</span></span></p>
    <p><span><b>Rating: </b>{{building.rating}}%</span></p>
    <p><span><b>Type: </b>{{building.typeOfBuilding}}</span></p>
    <span><b>Location: </b>{{building.place}}, {{building.country}}</span>
  </div>
  <div align="right">
    <button (click)="buildingDetails()" mat-button class="home-card-details-button">Details ></button>
  </div>
</mat-card>
