.add-property-header-card {
  margin: 25px auto;
  width: 838px;
  font-size: 30px;
  font-style: italic;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.add-property-title {
  width: 55%;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.add-property-price {
  width: 35%;
  margin-left: 8%;
}

.add-property-price-right-align {
  text-align: right;
  font-size: 25px;
  color: green;
  font-weight: bold;
}

.add-property-images-card {
  width: 790px;
  margin: 25px auto;
  border-radius: 5px;
  font-size: 15px;
}

.add-property-upload-photos-messages {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 17px;
  margin-left: 5%;
}

.add-property-message {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-left: 5%;
}

.add-property-image-inputs {
  margin-left: 10%;
}

.add-property-details-rating-card {
  margin-top: -55%;
  margin-left: 50%;
}

.add-property-details-interior-card {
  margin-left: 0%;
  margin-bottom: 10%;
}

.add-property-description-card {
  margin: 25px auto;
  width: 790px;
  border-radius: 5px;
  font-size: 15px;
}

.add-property-details-address-card {
  margin-top: 5%;
  margin-left: 50%;
}

.add-property-year-of-construction-container > * {
  width: 10%;
  margin-left: 5px;
}

.add-property-interior-card {
  margin-left: 58%;
  margin-top: -44%;
  margin-bottom: 10%;
}

.add-property-interior-input {
  width: 25%;
}

.add-property-rating-input {
  width: 10%;
}

.add-property-rating-card {
  margin-left: 0;
}

.add-property-address-card {
  margin-top: 30px;
}

.add-property-details-inputs-description {
  margin-left: 43%;
  margin-top: -67%;
}

.add-property-addressLine {
  width: 50%;
}

.add-property-city {
  width: 25%;
}

.add-property-country {
  width: 100%;
}

.add-property-description {
  width: 840px;
  margin: 25px auto;
}

.add-property-map-card {
  margin: 25px auto;
  width: 838px;
  height: 500px;
  border-radius: 5px;
}

.add-property-delete-buttons {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  height: auto;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: red;
}

.add-property-advertise-button {
  margin-top: 50px;
  margin-left: 60%;
  margin-bottom: 50px;
  background-color: green;
  color: white;
  width: 280px;
  font-size: 25px;
  border-radius: 15px;
}

.add-property-header-messages {
  margin: 25px auto;
  width: 838px;
}
