<mat-card-title class="add-property-header-card">Advertise new Property</mat-card-title>
<div style="margin: 25px auto; width: 838px;">
  <h2>Enter information about your property</h2>
  <p class="add-property-message" style="margin-left: 3%">All the fields are mandatory</p>
</div>
<form [formGroup]="PropertyForm" id="PropertyForm" (keyup)="totalRating(PropertyForm.value)"
      (ngSubmit)="addProperty(PropertyForm.value)">
  <mat-card class="add-property-images-card">
    <h3 style="font-style: italic">Enter an advertisement title to make it more sellable:</h3>
    <mat-form-field class="add-property-title">
      <input matInput #title maxlength="45" placeholder="Title" formControlName="Title">
      <mat-hint align="start"><strong>Max characters</strong></mat-hint>
      <mat-hint align="end">{{title.value.length}} / 45</mat-hint>
    </mat-form-field>

    <mat-form-field class="add-property-price">
      <input class="add-property-price-right-align" matInput placeholder="Price" type="number" formControlName="Price">
      <span matPrefix class="add-property-price-right-align" style="color: black">$&nbsp;</span>
      <span matSuffix class="add-property-price-right-align">.00</span>
    </mat-form-field>
  </mat-card>
  <mat-card class="add-property-images-card">
    <mat-card-content>
      <h2>Add photos for your Property:</h2>
      <p class="add-property-upload-photos-messages">Add one profile picture for your property advertisement:</p>
      <div class="form-group">
        <label class="add-property-image-inputs">Property profile picture</label>
        <input type="file" class="form-control" id="Image" #PropertyProfilePicture
               formControlName="PropertyProfilePicture">
      </div>
      <br>
      <p class="add-property-upload-photos-messages">Add photos from your property (maximum amount 12):</p>
      <div class="form-group">
        <label class="add-property-image-inputs">Property Gallery</label>
        <input type="file" class="form-control" id="Gallery" #PropertyGallery formControlName="PropertyGallery"
               multiple>
      </div>
      <div class="add-property-message"><br><b>Note:</b>
        <ul>
          <li>
            Supported image types: JPEG, PNG, BMP
          </li>
          <li>
            Supported image sizes: 1200 x 800 or 1200 x 750
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="add-property-description-card">
    <h2>Add details for your Property</h2>
    <mat-card-content>
      <ul>
        <li>
          <b>Type of building: </b>
          <span>
              <mat-form-field>
                <mat-select placeholder="Types" formControlName="TypeOfBuilding">
                  <mat-option *ngFor="let BuildingType of buildingTypes" [value]="BuildingType.value">
                   {{ BuildingType.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </span>
          <br>
        </li>
      </ul>
      <ul>
        <li>
          <b>Year of construction: </b>
          <span class="add-property-year-of-construction-container">
               <mat-form-field hintLabel="Max 4 numbers">
                  <input matInput #input maxlength="4" placeholder="Year" formControlName="YearOfConstruction">
                  <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
               </mat-form-field>
            </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Lot size: </b>
          <span>
            <mat-form-field class="add-property-year-of-construction-container">
              <input matInput type="number" placeholder="Size" formControlName="LotSize">
            </mat-form-field> m<sup>2</sup></span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Does it have yard: </b>
          <span>
              <mat-form-field>
                <mat-select placeholder="Statuses" formControlName="YardStatus">
                  <mat-option *ngFor="let YardStatus of yardStatuses" [value]="YardStatus.value">
                    {{ YardStatus.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Yard size: </b>
          <span>
            <mat-form-field class="add-property-year-of-construction-container">
              <input matInput type="number" placeholder="Size" formControlName="YardSize">
            </mat-form-field> m<sup>2</sup></span>
        </li>
      </ul>
    </mat-card-content>

    <mat-card-content class="add-property-interior-card">
      <h3>Interior</h3>
      <ul>
        <li>
          <b>Number Of Floors: </b>
          <span>
          <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Floors" formControlName="NumberOfFloors">
            </mat-form-field>
        </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Number Of Bathrooms: </b>
          <span>
           <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Bathrooms" formControlName="NumberOfBathrooms">
            </mat-form-field>
        </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Number Of Toilets: </b>
          <span>
           <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Toilets" formControlName="NumberOfToilets">
            </mat-form-field>
        </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Number Of Kitchens: </b>
          <span>
           <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Kitchens" formControlName="NumberOfKitchens">
            </mat-form-field>
        </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Number Of Rooms: </b>
          <span>
          <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Rooms" formControlName="NumberOfRooms">
            </mat-form-field>
        </span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Number Of Corridors: </b>
          <span>
          <mat-form-field class="add-property-interior-input">
              <input matInput type="number" placeholder="Corridors" formControlName="NumberCorridors">
            </mat-form-field>
        </span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-content class="add-property-rating-card">
      <h3>Average raring of the house parts: {{rating}} %</h3>
      <ul>
        <li>
          <b>Bathroom: </b>
          <span>
             <mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="BathroomsRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Toilets: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="ToiletsRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Kitchen: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="KitchenRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Rooms: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="RoomsRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Corridor: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="CorridorsRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Roof: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="RoofRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <ul>
        <li>
          <b>Windows: </b>
          <span><mat-form-field class="add-property-rating-input">
              <input matInput min="0" max="100" type="number" placeholder="Rating" formControlName="WindowsRating">
            </mat-form-field>%</span>
        </li>
      </ul>
      <div>
        <h3>Address:</h3>
        <div class="add-property-details-inputs-description">
          <h3 style="font-style: italic">Inputs description:</h3>
          <p class="add-property-message">Read info about the inputs and why they are needed:</p>
          <ul>
            <li style="margin-bottom: 2%">
              <b>Interior</b> - Fill all the fields with the number of how many entities you have in the property
            </li>
            <li style="margin-bottom: 10%">
              <b>Note:</b> - If you haven't got some of the entities requested in your property you should put <b>0</b>
              for the requested entity
            </li>
            <li style="margin-bottom: 2%">
              <b>Average raring</b> - On this field you should enter the rating of every needed entity in the house.<br>
              <b>For example</b> if your Windows are new they should have <b>100%</b> rating,
              if your Roof is old and needs to be renovated, you should put smaller rating so the buyer will
              know that it needs to be renovated after some time.
            </li>
            <li style="margin-bottom: 2%">
              As you fill the fields you can see your average rating of the property.
            </li>
            <li style="margin-bottom: 2%">
              <b>Note:</b> - If you haven't got some of the entities requested in your property you should put <b>100%
              rating</b>
              for the requested entity.
            </li>
            <li style="margin-bottom: 10%">
              <b>Note:</b> - You should put a rating from 0 to 100. Please don't put a rating bigger than 100% for a
              requested entity.
            </li>
            <li>
              <b>Note:</b> - If your property doesn't have a <b>Yard</b> you should put <b>0</b> on the <b>Yard size</b>
              input.
            </li>
          </ul>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content class="add-property-address-card">

      <div>
        <address>
          <mat-form-field class="add-property-addressLine">
            <textarea matInput placeholder="Address" formControlName="AddressLine"></textarea>
          </mat-form-field>
          <span>
          <mat-form-field class="add-property-city">
              <input matInput placeholder="place" formControlName="Place">
            </mat-form-field></span>
          <span>
            <mat-form-field>
      <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="ZipCode">
      <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
    </mat-form-field>
          </span>
          <mat-form-field>
            <input matInput placeholder="Province" formControlName="Province">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Country" formControlName="Country">
          </mat-form-field>
          <mat-form-field>
            <input matInput #countryIsoCode maxlength="3" placeholder="Country Iso Code"
                   formControlName="CountryIsoCode">
            <mat-hint align="end">{{countryIsoCode.value.length}} / 3</mat-hint>
          </mat-form-field>
        </address>
      </div>
    </mat-card-content>
  </mat-card>
  <h2 class="add-property-header-messages">Describe your property</h2>
  <p style="margin: 25px auto; width: 838px;" class="add-property-message">Enter a description details about your
    property:</p>
  <div class="add-property-description">
    <ckeditor
      formControlName="Details"
      [config]="{uiColor: '#DDDEE1', removeButtons: 'Source,Save,NewPage,Preview,Link,Anchor,Unlink,About,Form,' +
                  'Checkbox,Button,ImageButton,TextField,Textarea,HiddenField,Radio,Select'}"
      [readonly]="false"
      debounce="1000">
    </ckeditor>
  </div>
  <h2 class="add-property-header-messages">Set the location of your property</h2>
  <ul style="margin: 25px auto; width: 838px;" class="add-property-message">
    <li>Click the map to set a marker</li>
    <li>Drag the marker to set the precise location</li>
    <li>Use CTRL + scroll to zoom the map</li>
  </ul>
  <div class="add-property-header-messages">
    <input size="60" id="searchedAddress" type="text" placeholder="Enter Address">
  </div>

  <mat-card-content class="add-property-map-card">
    <agm-map [latitude]="searchedLat" [longitude]="searchedLng" [zoom]="zoom"
             (mapClick)="setPropertyLocation($event)">

      <agm-marker *ngFor="let m of markers; let i = index"
                  [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)">
        <agm-info-window>
          <strong>Property Location</strong>
          <br>
          <button class="add-property-delete-buttons" (click)="removeMarker(m)">Delete</button>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-card-content>

  <button class="add-property-advertise-button" type="submit"><i style="margin: 6px" class="material-icons">&#xE02E;</i>Advertise
    Property
  </button>
</form>
