<mat-card-title class="buildings-header-card">Apartments for sale</mat-card-title>
<app-buildings-card *ngFor="let apartment of apartments"
                    [buildingByType]="apartment"></app-buildings-card>
