<div *ngIf="isDataAvailable">
  <mat-card class="profile-header-card">My Profile</mat-card>
  <mat-card class="profile-card">
    <p>
      <b>Name:</b> {{first_name}}
    </p>
    <p>
      <b>Last name:</b> {{last_name}}
    </p>
    <p>
      <b>Gender:</b> {{gender}}
    </p>
    <p>
      <b>Date of Birth:</b> {{date_of_birth}}
    </p>
    <p>
      <b>Phone number: </b> +{{phone_number}}
    </p>
    <p>
      <b>Email address:</b> {{user_email}}
    </p>
  </mat-card>
</div>
