.profile-header-card {
  margin: 8px auto;
  width: 30%;
  font-size: 30px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  border-radius: 5px;
}
.profile-card {
  margin: 8px auto;
  width: 30%;
  font-size: 18px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  border-radius: 5px;
}
