@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  min-height: 100%;
  margin: 0;
  background-color: #F7F7F7;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

agm-map {
  height: 500px;
  width: 840px;
}
