<ngx-carousel class="home-slider"
              [inputs]="carouselOne">
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/1.New_York.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/2.Washington.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/3.New_York.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/4.Los_Angeles.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/5.Las_Vegas.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/6.New_York.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/7.Los_Angeles.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/8.Los_Angeles.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/9.Las_Vegas.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/10.Los_Angeles.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/11.Las_Vegas.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/12.Chicago.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/13.Washington.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/14.Chicago.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/15.Chicago.jpg"/>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <img class="home-slider-image" src="../../assets/slider_pic/16.Las_Vegas.jpg"/>
  </ngx-item>
  <div NgxCarouselPrev class='leftRs'></div>
  <div NgxCarouselNext class='rightRs'></div>
</ngx-carousel>
<mat-card-title class="home-header-card">Recently added properties</mat-card-title>
<div class="home-cards-position">
  <app-home-card *ngFor="let building of buildings" [building]="building"></app-home-card>
</div>
