.home-cards-position {
  margin-left: 12%;
  margin-right: 8%;
}
.home-header-card {
  margin-top: 8px;
  margin-bottom: 40px;
  margin-left: 12%;
  width: 700px;
  font-size: 30px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.home-slider {
  width: 100%;
  margin-bottom: 30px;
}
.home-slider-image {
  width: 100%;
  height: 446px;
}
