.register-header-card {
  margin: 8px auto;
  width: 40%;
  font-size: 30px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  border-radius: 5px;
}
.register-card {
  margin: 8px auto;
  width: 40%;
  font-size: 18px;
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  border-radius: 5px;
}
.register-inputs-width {
  width: 35%;
}
.add-margin {
  margin: 60px;
}
.register-email-password-full-width {
  width: 100%;
}
.register-phone-number-width {
  margin-left: 30px;
  width: 50%;
}
.register-button {
  margin-top: 50px;
  background-color: green;
  color: white;
  width: 150px;
  font-size: 25px;
  border-radius: 5px;
}

