<mat-card class="register-header-card">Register to {{env.appName}}</mat-card>
<mat-card class="register-card">
  <mat-form-field class="register-inputs-width">
    <input matInput placeholder="First name" [(ngModel)]="first_name">
  </mat-form-field>
  <mat-form-field class="register-inputs-width">
    <input matInput placeholder="Last name" [(ngModel)]="last_name">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Gender" [(ngModel)]="selectedGender" name="gender">
      <mat-option *ngFor="let gender of genders" [value]="gender.viewValue">
        {{ gender.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="register-inputs-width">
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dateOfBirth" [(ngModel)]='date_of_birth'
           placeholder="Date of birth: MM/DD/YYYY">
    <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
    <mat-datepicker #dateOfBirth></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="register-phone-number-width">
    <span matPrefix>+ &nbsp;</span>
    <input type="tel" matInput placeholder="Phone number" [(ngModel)]="phone_number">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-input-container class="register-email-password-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl" type="text" [(ngModel)]="user_email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid Email
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-input-container>
  <mat-input-container class="register-email-password-full-width">
    <input matInput type="password" placeholder="Password" [(ngModel)]="password"/>
    <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <i class="material-icons">&#xE5CD;</i>
    </button>
  </mat-input-container>
  <div align="right">
    <button mat-raised-button class="register-button" (click)="registerUser()">Submit</button>
  </div>
</mat-card>
