.login-full-width {
  width: 100%;
  font-size: 5mm;
}
.login-logo-container {
  text-align: center;
  margin: 24px 0 12px 0;
}
.login-button-login {
  width: 100%;
  height: 40px;
  background-color: #3F51B5;
  color: white;
  font-size: 5mm;
  border-radius: 5px;
}
.login-button-register {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: green;
  font-size: 14px;
}
