<h2 align="center">Login to {{env.appName}}</h2>
<div class="login-logo-container">
  <img src="../../assets/accessories/logo.png" alt="Avatar" class="avatar">
</div>
<mat-input-container class="login-full-width">
  <input matInput placeholder="Email" [formControl]="usernameFormControl" type="text" (keyup.enter)="login()"
         [(ngModel)]="user_email">
  <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
    Please enter a valid Email
  </mat-error>
  <mat-error *ngIf="usernameFormControl.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
</mat-input-container>
<mat-input-container class="login-full-width">
  <input matInput type="password" placeholder="Password" (keyup.enter)="login()" [(ngModel)]="password"/>
  <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
    <i class="material-icons">&#xE5CD;</i>
  </button>
</mat-input-container>
  <input type="checkbox" checked="checked" name="remember"> Remember me
<p>
  <button mat-raised-button class="login-button-login" (click)="login()">Login</button>
</p>
<div align="center">
  <span>Not a member? </span>
  <button class="login-button-register" (click)="register()">Register</button>
</div>
